# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDy7yHYO5LO6TbVe7hPMvUaO6f7I2Lg_Xc
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=razor-decor.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=razor-decor
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=razor-decor.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=99108307938
NEXT_PUBLIC_FIREBASE_APP_ID=1:99108307938:web:b97bffe625cb9caf286fbb

# Admin Email (for order notifications)
NEXT_PUBLIC_ADMIN_EMAIL=admin@razordecor.mn

# Site URL (for production)
NEXT_PUBLIC_SITE_URL=http://localhost:3000
